.login-page {
  text-align: center;
  padding: 30px 40px;
  form {
    margin-bottom: 14px;
  }
  .button-panel {
    padding: 0 6px;
    margin-top: 30px;
    a {
      width: 100%;
      display: block;
      margin-bottom: 16px;
      text-decoration: none;
      background: rgba(246, 246, 246, 0.7);
      border: 1px solid rgba(151, 151, 151, 0.1);
      color: #000;
      font-size: 13px;
      text-align: left;
      line-height: 22px;

      &.active {
        background: #4A4A4A;
      }
      .btn-wrapper {
        padding: 4px 8px;
        display: block;
      }
      svg {
        float: left;
        margin-right: 10px;
      }
      &:first-child {
        svg {
          margin-top: 1.4px;
        }
      }
    }
  }
  input {
    margin: 0 auto;
    width:80%;
    border: 1px solid rgba(151, 151, 151, 0.3);
    color: #9b9b9b;
    padding: 10px 8px;
    font-size: 12px;
  }
  
  /** burm */
  input {
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    box-shadow:none;
    max-width:300px;
  }
  input:focus {   
    border-color: none;
    box-shadow: none;
    outline: 0 none;
  }
  input.error {
      border:0px;
      border-bottom: 1px solid #FF0038;
  }
  /** end burm */
  label {
    display: block;
  }
  button[type='submit'] {
    background: #4a4a4a;
    border: 1px solid rgba(151, 151, 151, 0.3);
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: #fff;
    padding: 6px 30px;
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    margin-top: 16px;
    width: auto;
  }
  .forgot-pass-link {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
  }
}
