$tableBorderedHeadColor: #f5f5f6;
$borderColor: #e7eaec;

.grid {
  .table {
    &.no-margin {
      margin: 0;
    }

    &.without-thead {
      tbody {
        tr:first-child {
          td {
            border: none;
          }
        }
      }
    }

    &.table-bordered {
      & > thead,
      & > tfoot {
        & > tr {
          & > th,
          & > td {
            background-color: $tableBorderedHeadColor;
          }
        }
      }
    }

    .actions {
      text-align: right;
    }

    &.dataTable {
      thead {
        .sorting {
          &,
          &_asc,
          &_desc {
            &:after {
              display: inline-block;
              vertical-align: middle;
              position: static;
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

.pagination {
  a {
    outline: none;
  }
}
