.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background: #273135;
  .active{
    border-left: 5px solid  #ea7882;
    background: #1f272a;
    padding-left: 20px;
  }
  .avatar{
    height: 75px;
    background: #ea7882;
    padding: 10px;
    line-height: 4;
    .name{
      top: 14px;
      font-size: 16px;
      line-height: 2;
      position: relative;
      color:#fff;
      font-weight: 500;
    }
  }
  .row-no-padding {
    margin-left: 0;
    margin-right: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
    .sidebar-header {
      line-height: 1;
      font-size: 13px;
      padding-top: 15px;
      font-weight: bold;
      padding-bottom: 12px;
      text-transform: uppercase;
      color: rgba(137,148,155,0.4);
      padding-left: 25px;
    }
    li {
      display: block;
      pointer-events: all;
      height: 45px;
      &:hover {
        background: rgba(0,0,0,0.2);
      }
      a {
        font-size: 16px;
        line-height: 16px;
        padding: 15px 25px;
        height: 45px;
        border: none;
        outline: none;
        color: #89949B;
        font-weight: 500;
        display: block;
        text-decoration: none;
        i{
          padding-right: 15px;
        }
        &:hover {
          background: rgba(0,0,0,0.4);
        }
      }
    }
  }
}